{
	"semi": false,
	"arrowParens": "avoid",
	"printWidth": 80,
	"tabWidth": 4,
	"useTabs": true,
	"bracketSameLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
