* {
	box-sizing: border-box;
	outline: transparent;
}

body {
	margin: 0;
	background: black;
	color: white;
}

p {
	margin: 0;
}

button,
.textarea {
	font-size: inherit;
	font-family: inherit;
	font-size: 12px;
}

button {
	cursor: pointer;
	&:focus-visible {
		background: #cfc !important;
	}
}

.textarea {
	border: 1px solid white;
	outline: transparent;
}
