* {
	box-sizing: border-box;
	outline: transparent;
}

body {
	margin: 0;
	background: black;
	color: white;
}

button,
input {
	font-size: inherit;
	font-family: inherit;
}

button {
	cursor: pointer;
}
